.form-control {
    height: 40vh;
    flex-direction: column;
    gap: 1rem;
}

span {
    color: rgb(0, 44, 83);
}

.form-control button {
    display: flex;
    align-items: center;
    margin-left: 0;
    padding: 20px 15px;
}

.form-control a {
    margin: 0 0 20px 0;
    color: rgb(111, 181, 241);
    transition: .4s;
}